body {
  align-items: center;
  background-color: #999;
}

canvas {
  display: block;
  margin: 20px auto;
  background-color: #111;
  width: 250px;
  height: 250px;
  /* width: 800px;
  height: 800px; */
}

canvas.user {
  width: 400px;
  height: 400px;
}

p {
  text-align: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0;
}
