body {
  align-items: center;
  background-color: #999;
}

#canvas {
  display: block;
  margin: 20px auto;
  background-color: #111;
  width: 250px;
  height: 250px;
}

p {
  text-align: center;
  width: 100%;
}
